<h1>Create Song</h1>
<%= form_for(@song) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :artist_id %>
<%= f.text_field :arti %>

<%# @artists.each do |artist| %>
  <!-- <label><%#= artist.name %></label> -->
  <!-- <input id="<%#= artist.name %>" type="radio" name="song[artist_id]" value="<%#= artist.id %>"> -->
<%# end %>
<%= f.submit %>
<% end %>
